* {
  margin: 0;
  padding: 0;
  background-color: #FAA0A0;
}

h1, h3 {
  text-align: center;
}

.changePage {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.pagebtn {
  width: 100px;
  background-color: crimson;
  font-weight: bold;
  font-size: 1.2em;
  padding: 4px 0;
  margin: 7px;
}

.pagebtn:hover {
  background-color: #e25972;
  cursor: pointer;
}