* {
  margin: 0;
  padding: 0;
  background-color: #FAA0A0;
}

h1, h3 {
  text-align: center;
  padding: 3px 0;
}

.changePage {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.pagebtn {
  width: 100px;
  background-color: crimson;
  font-weight: bold;
  font-size: 1.2em;
  padding: 4px 0;
  margin: 7px;
}

.pagebtn:hover {
  background-color: #e25972;
  cursor: pointer;
}

.home {
  padding-bottom: 20px;
}

.pokemon {
  width: 100vw;
  margin: auto;
  text-align: center;
}

.homebtn {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  margin: 7px 0;
  background-color: crimson;
}

.homebtn:hover {
  cursor: pointer;
  background-color: #e25972;
}